<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/alertify")
    @Styles.Render("~/Content/datatable")
    @RenderSection("HeaderContent", required: false)
</head>
<body>
<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home", new {area = ""})" class="navbar-brand">
                    <img src="~/Content/logo.png" alt="Parallax One">
                    <strong>People Search</strong>
                </a>
            </div>
        </div>
    </div>
</header>
<div id="Page-Content">
    @RenderBody()
</div>
<footer>
    <div class="container">
        <h2 class="text-center">
            <strong>Stay In Touch!</strong>
        </h2>
        <div class="footer-links">
            <a target="_blank" href="http://linkedin.com/in/saeidp">
                <span class="fa fa-linkedin fa-2x transparent-text-dark"></span>
            </a>
            <a target="_blank" href="http://saeid.info">
                <span class="fa fa-chrome fa-2x transparent-text-dark"></span>
            </a>
            <a target="_blank" href="http://twitter.com/SaeidPournejati">
                <span class="fa fa-twitter fa-2x transparent-text-dark"></span>
            </a>
            <a target="_blank" href="http://github.com/pournejati">
                <span class="fa fa-github fa-2x transparent-text-dark"></span>
            </a>
            <a target="_blank" href="http://stackoverflow.com/users/2045559/saeid">
                <span class="fa fa-stack-overflow fa-2x transparent-text-dark"></span>
            </a>
        </div>
        <hr class="colored-line"/>
        <div class="text-center">
            <h4>Designed and Developed By Saeid Pournejati</h4>
        </div>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/alertify")
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/app.api")
@RenderSection("FooterScripts", required: false)
</body>
</html>